## [DataCamp Course](https://www.datacamp.com/courses/introduction-to-relational-databases-in-python)

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
%run keys.py

In [3]:
print(engine3.table_names())

['census', 'employee', 'state_fact']

In [4]:
from sqlalchemy import MetaData, Table

In [5]:
metadata = MetaData()

In [6]:
census = Table('census', metadata, autoload=True, autoload_with = engine3)

In [7]:
print(repr(census))

Table('census', MetaData(bind=None), Column('state', CHAR(length=30), table=<census>), Column('sex', CHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), Column('id', INTEGER(), table=<census>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x116d8b160>, for_update=False)), schema=None)

In [8]:
type(census)

sqlalchemy.sql.schema.Table

In [9]:
# Print the column names
print(census.columns.keys(), 
      '\n\n')

# Print full table metadata
print(repr(metadata.tables['census']))

['state', 'sex', 'age', 'pop2000', 'pop2008', 'id']


Table('census', MetaData(bind=None), Column('state', CHAR(length=30), table=<census>), Column('sex', CHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), Column('id', INTEGER(), table=<census>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x116d8b160>, for_update=False)), schema=None)

In [10]:
connection = engine3.connect()
type(connection)

sqlalchemy.engine.base.Connection

In [11]:
stmt = 'SELECT * FROM census'

In [12]:
result_proxy = connection.execute(stmt)
type(result_proxy)

sqlalchemy.engine.result.ResultProxy

In [13]:
results = result_proxy.fetchall()
type(results)

list

In [14]:
first_row = results[0]
first_row

('Illinois                      ', 'M', 0, 89600, 95012, 1)

In [15]:
first_row.keys()

['state', 'sex', 'age', 'pop2000', 'pop2008', 'id']

In [16]:
first_row.state

'Illinois                      '

# SQLalchemy querying

In [17]:
from sqlalchemy import select

In [18]:
stmt2 = select([census])

In [19]:
print(stmt2)
print(connection.execute(stmt2).fetchall()[:5])

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008, census.id
FROM census
[('Illinois                      ', 'M', 0, 89600, 95012, 1), ('Illinois                      ', 'M', 1, 88445, 91829, 2), ('Illinois                      ', 'M', 2, 88729, 89547, 3), ('Illinois                      ', 'M', 3, 88868, 90037, 4), ('Illinois                      ', 'M', 4, 91947, 91111, 5)]

- **ResultProxy:** The object returned by the `.execute()` method. It can be used in a variety of ways to get the data returned by the query.
- **ResultSet:** The actual data asked for in the query when using a fetch method such as `.fetchall()` on a `ResultProxy`.

In [20]:
# Get the first row of the results by using an index: first_row
first_row = results[0]

# Print the first row of the results
print(first_row)

# Print the first column of the first row by using an index
print(first_row[0])

# Print the 'state' column of the first row by using its name
print(first_row['state'])

('Illinois                      ', 'M', 0, 89600, 95012, 1)
Illinois
Illinois

In [21]:
stmt = select([census])
stmt = stmt.where(census.columns.state == 'California')

results = connection.execute(stmt).fetchall()

for result in results[:10]:
    print(result.state, result.age)

California                     0
California                     1
California                     2
California                     3
California                     4
California                     5
California                     6
California                     7
California                     8
California                     9

In [22]:
type(connection.execute(stmt))

sqlalchemy.engine.result.ResultProxy

In [23]:
stmt = select([census])

stmt = stmt.where(census.columns.state.startswith('New'))

result_list = []
for result in connection.execute(stmt):
    result_list.append((result.state, result.pop2000))

In [24]:
result_list[:10]

[('New Jersey                    ', 56983),
 ('New Jersey                    ', 56686),
 ('New Jersey                    ', 57011),
 ('New Jersey                    ', 57912),
 ('New Jersey                    ', 59359),
 ('New Jersey                    ', 60392),
 ('New Jersey                    ', 60739),
 ('New Jersey                    ', 61579),
 ('New Jersey                    ', 62089),
 ('New Jersey                    ', 63384)]

In [25]:
from sqlalchemy import or_

stmt = select([census])
stmt = stmt.where(or_(census.columns.state == 'California', census.columns.state == 'New York'))

result_list = []
for result in connection.execute(stmt):
    result_list.append((result.state, result.sex))
    
result_list[:10]

[('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M'),
 ('New York                      ', 'M')]

In [26]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')

# Use the .table_names() method on the engine to print the table names
print(engine.table_names())

['census', 'state_fact', 'vrska', 'census1', 'data', 'data1', 'employees3', 'users', 'employees', 'employees_2']

In [27]:
# Create a select query: stmt
stmt = select([census])

# Add a where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query to retrieve all the data returned: results
results = connection.execute(stmt).fetchall()

# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.age, result.sex, result.pop2008)

0 M 128088
1 M 125649
2 M 121615
3 M 120580
4 M 122482
5 M 121205
6 M 120089
7 M 122355
8 M 118653
9 M 117369
10 M 118810
11 M 121121
12 M 126338
13 M 128713
14 M 129812
15 M 134463
16 M 136569
17 M 140114
18 M 156892
19 M 147556
20 M 146611
21 M 141932
22 M 138557
23 M 136150
24 M 132383
25 M 141850
26 M 129603
27 M 131419
28 M 127224
29 M 122449
30 M 126404
31 M 126124
32 M 123362
33 M 126486
34 M 120030
35 M 123017
36 M 127076
37 M 136270
38 M 144715
39 M 135027
40 M 135355
41 M 132905
42 M 140025
43 M 151555
44 M 149030
45 M 148147
46 M 146692
47 M 147648
48 M 155155
49 M 144287
50 M 143466
51 M 139630
52 M 133939
53 M 136723
54 M 125953
55 M 122478
56 M 118070
57 M 115823
58 M 117177
59 M 108293
60 M 106825
61 M 113681
62 M 83763
63 M 81226
64 M 76961
65 M 82242
66 M 70423
67 M 64117
68 M 63657
69 M 58801
70 M 57609
71 M 53231
72 M 51132
73 M 50696
74 M 44822
75 M 43592
76 M 41900
77 M 40417
78 M 40241
79 M 35941
80 M 34659
81 M 32022
82 M 28890
83 M 27217
84 M 23879
85 M 124478
0 F 122194
1 F 119661
2 F 116413
3 F 114877
4 F 116936
5 F 116051
6 F 115186
7 F 116951
8 F 113279
9 F 111919
10 F 113891
11 F 115607
12 F 120156
13 F 123797
14 F 124343
15 F 127635
16 F 130769
17 F 134311
18 F 150772
19 F 142871
20 F 141831
21 F 142302
22 F 138703
23 F 138084
24 F 135339
25 F 141601
26 F 130002
27 F 129600
28 F 129868
29 F 119821
30 F 125047
31 F 127486
32 F 123742
33 F 126908
34 F 121824
35 F 124485
36 F 130377
37 F 140890
38 F 148408
39 F 137936
40 F 138561
41 F 139720
42 F 145307
43 F 154437
44 F 154805
45 F 153651
46 F 151107
47 F 154997
48 F 158855
49 F 151022
50 F 149883
51 F 146988
52 F 142566
53 F 144121
54 F 135180
55 F 132338
56 F 127500
57 F 126450
58 F 128713
59 F 121743
60 F 119540
61 F 126847
62 F 96462
63 F 94667
64 F 90185
65 F 97321
66 F 83336
67 F 77404
68 F 77802
69 F 71850
70 F 71451
71 F 66625
72 F 65037
73 F 65719
74 F 58818
75 F 58722
76 F 57584
77 F 56907
78 F 58456
79 F 54136
80 F 52932
81 F 50693
82 F 48206
83 F 47777
84 F 43454
85 F 273476
0 M 128088
1 M 125649
2 M 121615
3 M 120580
4 M 122482
5 M 121205
6 M 120089
7 M 122355
8 M 118653
9 M 117369
10 M 118810
11 M 121121
12 M 126338
13 M 128713
14 M 129812
15 M 134463
16 M 136569
17 M 140114
18 M 156892
19 M 147556
20 M 146611
21 M 141932
22 M 138557
23 M 136150
24 M 132383
25 M 141850
26 M 129603
27 M 131419
28 M 127224
29 M 122449
30 M 126404
31 M 126124
32 M 123362
33 M 126486
34 M 120030
35 M 123017
36 M 127076
37 M 136270
38 M 144715
39 M 135027
40 M 135355
41 M 132905
42 M 140025
43 M 151555
44 M 149030
45 M 148147
46 M 146692
47 M 147648
48 M 155155
49 M 144287
50 M 143466
51 M 139630
52 M 133939
53 M 136723
54 M 125953
55 M 122478
56 M 118070
57 M 115823
58 M 117177
59 M 108293
60 M 106825
61 M 113681
62 M 83763
63 M 81226
64 M 76961
65 M 82242
66 M 70423
67 M 64117
68 M 63657
69 M 58801
70 M 57609
71 M 53231
72 M 51132
73 M 50696
74 M 44822
75 M 43592
76 M 41900
77 M 40417
78 M 40241
79 M 35941
80 M 34659
81 M 32022
82 M 28890
83 M 27217
84 M 23879
85 M 124478
0 F 122194
1 F 119661
2 F 116413
3 F 114877
4 F 116936
5 F 116051
6 F 115186
7 F 116951
8 F 113279
9 F 111919
10 F 113891
11 F 115607
12 F 120156
13 F 123797
14 F 124343
15 F 127635
16 F 130769
17 F 134311
18 F 150772
19 F 142871
20 F 141831
21 F 142302
22 F 138703
23 F 138084
24 F 135339
25 F 141601
26 F 130002
27 F 129600
28 F 129868
29 F 119821
30 F 125047
31 F 127486
32 F 123742
33 F 126908
34 F 121824
35 F 124485
36 F 130377
37 F 140890
38 F 148408
39 F 137936
40 F 138561
41 F 139720
42 F 145307
43 F 154437
44 F 154805
45 F 153651
46 F 151107
47 F 154997
48 F 158855
49 F 151022
50 F 149883
51 F 146988
52 F 142566
53 F 144121
54 F 135180
55 F 132338
56 F 127500
57 F 126450
58 F 128713
59 F 121743
60 F 119540
61 F 126847
62 F 96462
63 F 94667
64 F 90185
65 F 97321
66 F 83336
67 F 77404
68 F 77802
69 F 71850
70 F 71451
71 F 66625
72 F 65037
73 F 65719
74 F 58818
75 F 58722
76 F 57584
77 F 56907
78 F 58456
79 F 54136
80 F 52932
81 F 50693
82 F 48206
83 F 47777
84 F 43454
85 F 273476

You can see a full list of expressions in the [SQLAlchemy Documentation](http://docs.sqlalchemy.org/en/latest/core/sqlelement.html#module-sqlalchemy.sql.expression).

In [28]:
states = ['New York', 'California', 'Texas']

In [29]:
# Create a query for the census table: stmt
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
results = []
for result in connection.execute(stmt):
    results.append((result.state, result.pop2000))

print(results[:10], '\n\n', results[-10:])

[('New York                      ', 126237), ('New York                      ', 124008), ('New York                      ', 124725), ('New York                      ', 126697), ('New York                      ', 131357), ('New York                      ', 133095), ('New York                      ', 134203), ('New York                      ', 137986), ('New York                      ', 139455), ('New York                      ', 142454)]

 [('Texas                         ', 52656), ('Texas                         ', 48993), ('Texas                         ', 47681), ('Texas                         ', 44609), ('Texas                         ', 42132), ('Texas                         ', 35378), ('Texas                         ', 33852), ('Texas                         ', 30076), ('Texas                         ', 27961), ('Texas                         ', 171538)]

In [30]:
# Import and_
from sqlalchemy import and_

# Build a query for the census table: stmt
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
         )
)

# Loop over the ResultProxy printing the age and sex
for result in connection.execute(stmt):
    print(result.age, result.sex)

0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F
9 F
10 F
11 F
12 F
13 F
14 F
15 F
16 F
17 F
18 F
19 F
20 F
21 F
22 F
23 F
24 F
25 F
26 F
27 F
28 F
29 F
30 F
31 F
32 F
33 F
34 F
35 F
36 F
37 F
38 F
39 F
40 F
41 F
42 F
43 F
44 F
45 F
46 F
47 F
48 F
49 F
50 F
51 F
52 F
53 F
54 F
55 F
56 F
57 F
58 F
59 F
60 F
61 F
62 F
63 F
64 F
65 F
66 F
67 F
68 F
69 F
70 F
71 F
72 F
73 F
74 F
75 F
76 F
77 F
78 F
79 F
80 F
81 F
82 F
83 F
84 F
85 F
0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F
9 F
10 F
11 F
12 F
13 F
14 F
15 F
16 F
17 F
18 F
19 F
20 F
21 F
22 F
23 F
24 F
25 F
26 F
27 F
28 F
29 F
30 F
31 F
32 F
33 F
34 F
35 F
36 F
37 F
38 F
39 F
40 F
41 F
42 F
43 F
44 F
45 F
46 F
47 F
48 F
49 F
50 F
51 F
52 F
53 F
54 F
55 F
56 F
57 F
58 F
59 F
60 F
61 F
62 F
63 F
64 F
65 F
66 F
67 F
68 F
69 F
70 F
71 F
72 F
73 F
74 F
75 F
76 F
77 F
78 F
79 F
80 F
81 F
82 F
83 F
84 F
85 F

In [31]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the first 10 results
print(results[:10])

[('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',), ('Alabama                       ',)]

In [32]:
# Import desc
from sqlalchemy import desc

# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by state in descending order: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results: rev_results
rev_results = connection.execute(rev_stmt).fetchall()

# Print the first 10 rev_results
print(rev_results[:10])

[('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',), ('Wyoming                       ',)]

In [33]:
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

[('Alabama                       ', 85), ('Alabama                       ', 85), ('Alabama                       ', 85), ('Alabama                       ', 85), ('Alabama                       ', 84), ('Alabama                       ', 84), ('Alabama                       ', 84), ('Alabama                       ', 84), ('Alabama                       ', 83), ('Alabama                       ', 83), ('Alabama                       ', 83), ('Alabama                       ', 83), ('Alabama                       ', 82), ('Alabama                       ', 82), ('Alabama                       ', 82), ('Alabama                       ', 82), ('Alabama                       ', 81), ('Alabama                       ', 81), ('Alabama                       ', 81), ('Alabama                       ', 81)]

So far, you've seen `.fetchall()` and `.first()` used on a ResultProxy to get the results. The `ResultProxy` also has a method called `.scalar()` for getting just the value of a query that returns only one row and column.

This can be very useful when you are querying for just a count or sum.

In [34]:
from sqlalchemy import func

In [35]:
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result: distinct_state_count
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
print(distinct_state_count)

51

Notice the use of the `.scalar()` method: This is useful when you want to get **just the value** of a query that returns _only one row and column_, like in this case.

In [36]:
# Import func
from sqlalchemy import func

# Build a query to select the state and count of ages by state: stmt
stmt = select([census.columns.state, func.count(census.columns.age)])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results, '\n\n')

# Print the keys/column names of the results returned
print(results[0].keys())

[('Oklahoma                      ', 344), ('Colorado                      ', 344), ('North Carolina                ', 344), ('Mississippi                   ', 344), ('Florida                       ', 344), ('Vermont                       ', 344), ('Delaware                      ', 344), ('Louisiana                     ', 344), ('Nevada                        ', 344), ('New York                      ', 344), ('West Virginia                 ', 344), ('South Carolina                ', 344), ('New Jersey                    ', 344), ('New Mexico                    ', 344), ('Hawaii                        ', 344), ('Arkansas                      ', 344), ('Missouri                      ', 344), ('Connecticut                   ', 344), ('South Dakota                  ', 344), ('District of Columbia          ', 344), ('Iowa                          ', 344), ('Indiana                       ', 344), ('Massachusetts                 ', 344), ('Rhode Island                  ', 344), ('Ohio                          ', 344), ('Michigan                      ', 344), ('Minnesota                     ', 344), ('Pennsylvania                  ', 344), ('Washington                    ', 344), ('Kentucky                      ', 344), ('Montana                       ', 344), ('Wisconsin                     ', 344), ('Arizona                       ', 344), ('Illinois                      ', 344), ('Virginia                      ', 344), ('Maryland                      ', 344), ('Georgia                       ', 344), ('Wyoming                       ', 344), ('Utah                          ', 344), ('New Hampshire                 ', 344), ('North Dakota                  ', 344), ('Maine                         ', 344), ('Nebraska                      ', 344), ('California                    ', 344), ('Tennessee                     ', 344), ('Kansas                        ', 344), ('Texas                         ', 344), ('Oregon                        ', 344), ('Idaho                         ', 344), ('Alaska                        ', 344), ('Alabama                       ', 344)]


['state', 'count_1']

In [37]:

# Import func
from sqlalchemy import func

# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

# Build a query to select the state and sum of pop2008: stmt
stmt = select([census.columns.state, pop2008_sum])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results, '\n\n')

# Print the keys/column names of the results returned
print(results[0].keys())

[('Oklahoma                      ', 7241240), ('Colorado                      ', 9825894), ('North Carolina                ', 18243212), ('Mississippi                   ', 5844710), ('Florida                       ', 36515324), ('Vermont                       ', 1241204), ('Delaware                      ', 1738442), ('Louisiana                     ', 8791594), ('Nevada                        ', 5158774), ('New York                      ', 38930318), ('West Virginia                 ', 3625758), ('South Carolina                ', 8877740), ('New Jersey                    ', 17340408), ('New Mexico                    ', 3949986), ('Hawaii                        ', 2501352), ('Arkansas                      ', 5696864), ('Missouri                      ', 11783948), ('Connecticut                   ', 6987566), ('South Dakota                  ', 1601994), ('District of Columbia          ', 1177820), ('Iowa                          ', 6000980), ('Indiana                       ', 12746598), ('Massachusetts                 ', 12984048), ('Rhode Island                  ', 2093070), ('Ohio                          ', 22953564), ('Michigan                      ', 19997708), ('Minnesota                     ', 10431630), ('Pennsylvania                  ', 24880258), ('Washington                    ', 13004038), ('Kentucky                      ', 8509928), ('Montana                       ', 1927604), ('Wisconsin                     ', 11250026), ('Arizona                       ', 12961534), ('Illinois                      ', 25734154), ('Virginia                      ', 15297804), ('Maryland                      ', 11208348), ('Georgia                       ', 19245016), ('Wyoming                       ', 1058980), ('Utah                          ', 5461838), ('New Hampshire                 ', 2629066), ('North Dakota                  ', 1268564), ('Maine                         ', 2625944), ('Nebraska                      ', 3553514), ('California                    ', 73218004), ('Tennessee                     ', 12404814), ('Kansas                        ', 5564490), ('Texas                         ', 48428254), ('Oregon                        ', 7573648), ('Idaho                         ', 3037828), ('Alaska                        ', 1329092), ('Alabama                       ', 9298734)]


['state', 'population']

In [38]:
# import pandas
import pandas as pd

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set column names
df.columns = results[0].keys()

# Print the Dataframe
print(df.head())

                            state  population
0  Oklahoma                           7241240
1  Colorado                           9825894
2  North Carolina                    18243212
3  Mississippi                        5844710
4  Florida                           36515324

In [39]:
# Import pyplot as plt from matplotlib
import matplotlib.pyplot as plt

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set Column names
df.columns = results[0].keys()

# Print the DataFrame
print(df)

# Plot the DataFrame
df.plot.bar()

                             state  population
0   Oklahoma                           7241240
1   Colorado                           9825894
2   North Carolina                    18243212
3   Mississippi                        5844710
4   Florida                           36515324
5   Vermont                            1241204
6   Delaware                           1738442
7   Louisiana                          8791594
8   Nevada                             5158774
9   New York                          38930318
10  West Virginia                      3625758
11  South Carolina                     8877740
12  New Jersey                        17340408
13  New Mexico                         3949986
14  Hawaii                             2501352
15  Arkansas                           5696864
16  Missouri                          11783948
17  Connecticut                        6987566
18  South Dakota                       1601994
19  District of Columbia               1177820
20  Iowa                               6000980
21  Indiana                           12746598
22  Massachusetts                     12984048
23  Rhode Island                       2093070
24  Ohio                              22953564
25  Michigan                          19997708
26  Minnesota                         10431630
27  Pennsylvania                      24880258
28  Washington                        13004038
29  Kentucky                           8509928
30  Montana                            1927604
31  Wisconsin                         11250026
32  Arizona                           12961534
33  Illinois                          25734154
34  Virginia                          15297804
35  Maryland                          11208348
36  Georgia                           19245016
37  Wyoming                            1058980
38  Utah                               5461838
39  New Hampshire                      2629066
40  North Dakota                       1268564
41  Maine                              2625944
42  Nebraska                           3553514
43  California                        73218004
44  Tennessee                         12404814
45  Kansas                             5564490
46  Texas                             48428254
47  Oregon                             7573648
48  Idaho                              3037828
49  Alaska                             1329092
50  Alabama                            9298734

# Percentage Example

In [40]:
from sqlalchemy import case, cast, Float

In [41]:
stmt = select([
    (func.sum(
        case([
            (census.columns.state == 'New York',
            census.columns.pop2008)
        ], else_= 0)) /
    cast(func.sum(census.columns.pop2008),
        Float) * 100).label('ny_percent')])
results = connection.execute(stmt).fetchall()

print(results)

[(6.42676197650163,)]

In [42]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine_new = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# Print the table names
print(engine_new.table_names())

['census', 'state_fact']

In [43]:
connection2 = engine_new.connect()
type(connection)

sqlalchemy.engine.base.Connection

In [44]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008 - census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = connection2.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

In [45]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = func.sum(census.columns.pop2000)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000* 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection2.execute(stmt).scalar()

# Print the percentage
print(percent_female)

50.7455

In [46]:
state_fact = Table('state_fact', metadata, autoload=True, autoload_with = engine_new)
census = Table('census', metadata, autoload=True, autoload_with = engine_new)

In [47]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection2.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

pop2000 89600
abbreviation IL

In [48]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    if key == 'id':
        print('None')
    else:
        print(key, getattr(result, key))

state Illinois
sex M
age 0
pop2000 89600
pop2008 95012
None
None
name Illinois
abbreviation IL
country USA
type state
sort 10
status current
occupied occupied
notes None
fips_state 17
assoc_press Ill.
standard_federal_region V
census_region 2
census_region_name Midwest
census_division 3
census_division_name East North Central
circuit_court 7

In [49]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection2.execute(stmt).fetchall()

# Loop over the the results object and print each record.
for record in results:
    print(record)

('Alabama', Decimal('4681422'), 'East South Central')
('Alaska', Decimal('664546'), 'Pacific')
('Arizona', Decimal('10698743'), 'Mountain')
('Arkansas', Decimal('4343608'), 'West South Central')
('California', Decimal('56952946'), 'Pacific')
('Colorado', Decimal('7474086'), 'Mountain')
('Connecticut', Decimal('3727540'), 'New England')
('Delaware', Decimal('869221'), 'South Atlantic')
('Florida', Decimal('20339477'), 'South Atlantic')
('Georgia', Decimal('9622508'), 'South Atlantic')
('Hawaii', Decimal('1250676'), 'Pacific')
('Idaho', Decimal('1518914'), 'Mountain')
('Illinois', Decimal('16274391'), 'East North Central')
('Indiana', Decimal('7378168'), 'East North Central')
('Iowa', Decimal('3000490'), 'West North Central')
('Kansas', Decimal('4045759'), 'West North Central')
('Kentucky', Decimal('4525061'), 'East South Central')
('Louisiana', Decimal('5183486'), 'West South Central')
('Maine', Decimal('2018932'), 'New England')
('Maryland', Decimal('7246747'), 'South Atlantic')
('Massachusetts', Decimal('6492024'), 'New England')
('Michigan', Decimal('14154883'), 'East North Central')
('Minnesota', Decimal('6922744'), 'West North Central')
('Mississippi', Decimal('4560123'), 'East South Central')
('Missouri', Decimal('7836564'), 'West North Central')
('Montana', Decimal('1172060'), 'Mountain')
('Nebraska', Decimal('2348009'), 'West North Central')
('Nevada', Decimal('3925294'), 'Mountain')
('New Hampshire', Decimal('1949141'), 'New England')
('New Jersey', Decimal('8670204'), 'Mid-Atlantic')
('New Mexico', Decimal('3263613'), 'Mountain')
('New York', Decimal('26837888'), 'Mid-Atlantic')
('North Carolina', Decimal('9121606'), 'South Atlantic')
('North Dakota', Decimal('634282'), 'West North Central')
('Ohio', Decimal('16565266'), 'East North Central')
('Oklahoma', Decimal('4736015'), 'West South Central')
('Oregon', Decimal('4901890'), 'Pacific')
('Pennsylvania', Decimal('17277878'), 'Mid-Atlantic')
('Rhode Island', Decimal('1096276'), 'New England')
('South Carolina', Decimal('4438870'), 'South Atlantic')
('South Dakota', Decimal('800997'), 'West North Central')
('Tennessee', Decimal('8524299'), 'East South Central')
('Texas', Decimal('39829923'), 'West South Central')
('Utah', Decimal('2730919'), 'Mountain')
('Vermont', Decimal('820523'), 'New England')
('Virginia', Decimal('9593860'), 'South Atlantic')
('Washington', Decimal('8080837'), 'Pacific')
('West Virginia', Decimal('1812879'), 'South Atlantic')
('Wisconsin', Decimal('7518844'), 'East North Central')
('Wyoming', Decimal('653500'), 'Mountain')

In [50]:
employees = Table('employee', metadata, autoload=True, autoload_with = engine3)

In [51]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.manager)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE                ', 'GRANT                   ')
('FILLMORE                ', 'MONROE                  ')
('FILLMORE                ', 'ADAMS                   ')
('GARFIELD                ', 'JOHNSON                 ')
('GARFIELD                ', 'LINCOLN                 ')
('GARFIELD                ', 'POLK                    ')
('GARFIELD                ', 'WASHINGTON              ')
('HARDING                 ', 'HOOVER                  ')
('HARDING                 ', 'TAFT                    ')
('JACKSON                 ', 'FILLMORE                ')
('JACKSON                 ', 'ROOSEVELT               ')
('JACKSON                 ', 'GARFIELD                ')
('JACKSON                 ', 'HARDING                 ')

In [52]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id == employees.columns.manager)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

('FILLMORE                ', 3)
('GARFIELD                ', 4)
('HARDING                 ', 2)
('JACKSON                 ', 4)

```python
more_results = True
results_proxy = connection.execute(stmt)
state_count = {}
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)
```

Databases like PostgreSQL and MySQL have command line tools for initializing databases.

With SQLite, the `create_engine()` statement will create the database and file if they do not already exist.

```python
from sqlalchemy import Table, Column, String, Integer, Decimal, Float, Boolean

employees = Table('employees', metadata,
                 Column('id', Integer()),
                 Column('name', String(255), unique=True, nullable=False),
                 Column('salary', Decimal(), default=100.00),
                 Column('active', Boolean(), default=True))

metadata.create_all(engine)

print(engine.table_names())

print(employees.constraints)
```

# Creating Tables
- Still use the Table object like we did for reflection
- Replaces the autoload keyword argument with column objects
- Creates the table in the actual database by using the `create_all()` method on the `Metadata` instance
- You need to use other tools to handle table updates, such as Alembic or raw SQL.

Requires SQLite Engine

```python
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
metadata.create_all(engine)

# Print table details
print(repr(data))
```

# Inserting One Row

```python
from sqlalchemy import insert

stmt = insert(employees).values(id=1, name='Jason', salary=1.00, active=True)

result_proxy = connection.execute(stmt)

print(result_proxy.rowcount)
```

## Example:

```python
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the statement via the connection: results
results = connection.execute(stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(connection.execute(stmt).first())
```

# Inserting Multiple Rows

```python
stmt = insert(employees)

value_list = [{'id':1, 'name':'Jason', 'salary':2.00, 'active':True},
             {'id':1, 'name':'Cody', 'salary':1.00, 'active':True}]

result_proxy = connection.execute(stmt, value_list)

print(result_proxy.rowcount)
```

## Example

```python
# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data)

# Execute stmt with the values_list: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)
```

# Reading from CSV

```python
# Create a insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = []
total_rowcount = 0

# Enumerate the rows of csv_reader
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
            'pop2008': row[4]}
    values_list.append(data)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = []

# Print total rowcount
print(total_rowcount)
```

# `update()`
The update statement is very similar to an insert statement, except that it also typically uses a where clause to help us determine what data to update. 

## Example:

```python
# Build a select statement: select_stmt
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# Print the results of executing the select_stmt
print(connection.execute(select_stmt).fetchall())

# Build a statement to update the fips_state to 36: stmt
stmt = update(state_fact).values(fips_state = 36)

# Append a where clause to limit it to records for New York state
stmt = stmt.where(state_fact.columns.name == 'New York')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())
```

- Continued...

```python
# Build a statement to update the notes to 'The Wild West': stmt
stmt = update(state_fact).values(notes='The Wild West')

# Append a where clause to match the West census region records
stmt = stmt.where(state_fact.columns.census_region_name == 'West')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)
```

# Correlated Updates
You can also update records with data from a select statement. This is called a correlated update. It works by defining a `select` statement that returns the value you want to `update` the record with and assigning that as the value in an update statement.

## Example:

```python
# Build a statement to select name from state_fact: stmt
fips_stmt = select([state_fact.columns.name])

# Append a where clause to Match the fips_state to flat_census fips_code
fips_stmt = fips_stmt.where(
    state_fact.columns.fips_state == flat_census.columns.fips_code)

# Build an update statement to set the name to fips_stmt: update_stmt
update_stmt = update(flat_census).values(state_name=fips_stmt)

# Execute update_stmt: results
results = connection.execute(update_stmt)

# Print rowcount
print(results.rowcount)
```

# Deleting Entries From a Database

```python
# Import delete, select
from sqlalchemy import delete, select

# Build a statement to empty the census table: stmt
stmt = delete(census)

# Execute the statement: results
results = connection.execute(stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table
stmt = select([census])

# Print the results of executing the statement to verify there are no rows
print(connection.execute(stmt).fetchall())
```

## Deleting Conditionally

```python
# Build a statement to count records using the sex column for Men ('M') age 36: stmt
stmt = select([func.count(census.columns.sex)]).where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(stmt).scalar()

# Build a statement to delete records from the census table: stmt_del
stmt_del = delete(census)

# Append a where clause to target Men ('M') age 36
stmt_del = stmt_del.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(stmt_del)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)
```

# Drop an Entire Table

```python
# Drop the state_fact table
state_fact.drop(engine)

# Check to see if state_fact exists
print(state_fact.exists(engine))

# Drop all tables
metadata.drop_all(engine)

# Check to see if census exists
print(census.exists(engine))
```

In [53]:
# Import create_engine, MetaData
from sqlalchemy import create_engine, MetaData

# Define an engine to connect to chapter5.sqlite: engine
engine = create_engine('sqlite:///chapter5.sqlite')

# Initialize MetaData: metadata
metadata = MetaData()

In [54]:
# Import Table, Column, String, and Integer
from sqlalchemy import Table, Column, String, Integer

# Build a census table: census
census = Table('census', metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()))

# Create the table in the database
metadata.create_all(engine)

In [55]:
from csv import reader

In [56]:
values_list = []

with open('census.csv') as csvfile:
    csv_reader = reader(csvfile, delimiter=',')
    for row in csv_reader:
    # Create a dictionary with the values
        data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3],
                'pop2008': row[4]}
        # Append the dictionary to the values list
        values_list.append(data)

In [57]:
len(values_list)

8772

In [58]:
# Import insert
from sqlalchemy import insert

# Build insert statement: stmt
stmt = insert(census)

# Use values_list to insert data: results
results = connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

8772

In [59]:
# Import select
from sqlalchemy import select

# Calculate weighted average age: stmt
stmt = select([census.columns.sex,
               (func.sum(census.columns.pop2008 * census.columns.age) /
                func.sum(census.columns.pop2008)).label('average_age')
               ])

# Group by sex
stmt = stmt.group_by(census.columns.sex)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the average age by sex
for result in results:
    print(result.sex, result.average_age)

M 35
F 38

In [60]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([census.columns.state,
    (func.sum(
        case([
            (census.columns.sex == 'F', census.columns.pop2000)
        ], else_=0)) /
     cast(func.sum(census.columns.pop2000), Float) * 100).label('percent_female')
])

# Group By state
stmt = stmt.group_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the percentage
for result in results:
    print(result.state, round(result.percent_female, 2))

Oklahoma                       51.11
Colorado                       49.85
North Carolina                 51.48
Mississippi                    51.92
Florida                        51.36
Vermont                        51.02
Delaware                       51.61
Louisiana                      51.75
Nevada                         49.37
New York                       51.83
West Virginia                  51.4
South Carolina                 51.73
New Jersey                     51.52
New Mexico                     51.05
Hawaii                         51.12
Arkansas                       51.27
Missouri                       51.47
Connecticut                    51.67
South Dakota                   50.53
District of Columbia           53.13
Iowa                           50.95
Indiana                        50.95
Massachusetts                  51.84
Rhode Island                   52.07
Ohio                           51.47
Michigan                       50.97
Minnesota                      50.49
Pennsylvania                   51.74
Washington                     50.52
Kentucky                       51.33
Montana                        50.32
Wisconsin                      50.61
Arizona                        50.22
Illinois                       51.11
Virginia                       51.66
Maryland                       51.94
Georgia                        51.11
Wyoming                        49.95
Utah                           49.97
New Hampshire                  50.86
North Dakota                   50.5
Maine                          51.51
Nebraska                       50.86
California                     50.35
Tennessee                      51.43
Kansas                         50.82
Texas                          50.52
Oregon                         50.43
Idaho                          49.99
Alaska                         49.3
Alabama                        51.83

In [61]:
# Build query to return state name and population difference from 2008 to 2000
stmt = select([census.columns.state,
     func.max((census.columns.pop2008-census.columns.pop2000)).label('pop_change')
])

# Group by State
stmt = stmt.group_by(census.columns.state)

# Order by Population Change
stmt = stmt.order_by(desc('pop_change'))

# Limit to top 10
stmt = stmt.limit(10)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

California                    :105705
Florida                       :100984
Texas                         :52672
New York                      :47098
Pennsylvania                  :42387
Arizona                       :29509
Ohio                          :29392
Illinois                      :26221
Georgia                       :25744
North Carolina                :25342